
/* #region Reader*/

#reader {
    margin: 1%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
}

#reader>div{
    display: flex;
    justify-content: center;
}

#reader>div>.nav{
    font-size: 48px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-self: center;
}

#reader>div>.nav:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}

#pages{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    float: left;
    display: flex;
    flex: 1 1 auto;
    max-height: 100%;
}
.page>img {
    object-fit: contain;
}

.closeReader{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 5%;
    transition-duration: 0.4s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128,128,128,0.5)), to(rgba(128,128,128,0)), color-stop(0,rgb(128,128,128)));
    opacity: 0;
    z-index: 2;
}

.closeReader:hover{
    opacity: 1;
    border-radius: 5px 5px 0px 0px; 
}

/* #endregion */

/* #region Explorer*/

#explorer {
    margin: 1%;
    background-color: #a53886;
    flex: 1 1 auto;
}

#books {
    display: block;
    text-align: center;
    overflow-y: auto;
    height: 100%;
}

.book {
    font-size: 0.9em;
    width: 150px;
    word-wrap: break-word;
    cursor: pointer;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}
.book:hover{    
    box-shadow: 0px 0px 5px 5px rgba(100,0,200,0.5);
}

.loading {
    font-size: 50px;
}

.thumb {
    width: 5em;
}

/* #endregion */

/* #region Title*/

#titlebar {
    background-color: #362f3f;
    color: white;
    width: 100%;
    -webkit-app-region: drag;
    display: inline-block;
    height: 24px;
}

.windowbuttons {
    float: right;
    height: 100%;
    -webkit-app-region: no-drag;
}

.windowbutton {
    background-color: #362f3f;
    border: none;
    transition-duration: 0.4s;
    float: left;
    height: 100%;
}

.windowbutton:hover {
    background-color: #453c51;
}

.windowbutton.close:hover {
    background-color: #cc0000;
}

.windowbutton:active {
    background-color: #26212d;
}

.windowtitle {
    margin-left: 1%;
    float: left;
}

/* #endregion */

/* #region Links*/

.link {
    color: darkgrey;
    transition-duration: 0.4s;
}

.link:hover {
    color: grey;
}

img.link {
    background-color: darkgrey;
    transition-duration: 0.4s;
}

img.link:hover {
    background-color: grey;
}

.weblink {
    font-size: 24px;
}

a {
    color: inherit;
}

/* #endregion */

/* #region Containers*/

#controls {
    margin: 1%;
    flex: 0 1 auto;
}


#bookStuff {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
}

#parent {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

/* #endregion */

/* #region Background*/

html {
    overflow: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    margin: 0;
    background-color: rgb(109, 67, 148);
    overflow: hidden;
    flex-direction: column;
}

/* #endregion */