.page {
    float: left;
    object-fit: contain;
    width: auto;
    height: 60vh;
}

#reader {
    margin: 1%;
    float: right;
    width: 64.6666666%;
    height: 100%;
}

#books {
    display: block;
    text-align: center;
}

.book {
    font-size: 0.9em;
    width: 150px;
    word-wrap: break-word;
    cursor: pointer;
    margin: .5%;
    display: inline-block;
    vertical-align: top;
}

#explorer {
    margin: 1%;
    background-color: #a53886;
    height: 100%;
    width: 31.333333%;
    display: inline-block;
    overflow-y: auto;
}

.thumb {
    width: 5em;
}

#main {
    float: left;
}

#controls {
    margin: 1%;
    max-height: 5%;
    height: 5%;
}

.util {
    padding: 1%;
}

#bookStuff {
    display: block;
    height: 76vh;
}

html {
    overflow-y: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: table;
    margin: 0;
    background-color: purple;
    overflow-y: hidden;
}

#parent {
    min-height: 96%;
    width: 100%;
}

#titlebar {
    background-color: #362f3f;
    color: white;
    width: 100%;
    -webkit-app-region: drag;
    display: inline-block;
    height: 24px;
}

.windowbuttons {
    float: right;
    height: 100%;
    -webkit-app-region: no-drag;
}

.windowbutton {
    background-color: #362f3f;
    border: none;
    transition-duration: 0.4s;
    float: left;
    height: 100%;
}

.windowbutton:hover {
    background-color: #453c51;
}

.windowbutton.close:hover {
    background-color: #810909;
}

.windowbutton:active {
    background-color: #26212d;
}

.windowtitle {
    margin-left: 1%;
    float: left;
}

.link {
    color: darkgrey;
    transition-duration: 0.4s;
}

.link:hover {
    color: grey;
}

img.link {
    background-color: darkgrey;
    transition-duration: 0.4s;
}

img.link:hover {
    background-color: grey;
}

.weblink {
    font-size: 24px;
}

a {
    color: inherit;
}

.loading {
    font-size: 50px;
}