.page{
    float: left;
    width:40%;
}

#reader{
    margin: 1%;
}

#books{
    list-style: none;
    float:center;
    width:25%;
}
#books li{
    float:left;
    text-align: center;
}

.book{
    font-size: 0.9em;
    width:150px;
    word-wrap: break-word;
    cursor: pointer;
}

#explorer{
    margin: 1%;
    overflow: auto;
    background-color: #a53886;
}

.thumb{
    width:5em;
}

#main{
    float: left;
}

#controls{
    margin: 1%;
}

.util{
    padding: 1%;
}

/*#bookStuff>div{
    height: 100%;
}*/

html, body {
    height: 100%;
    width: 100%;
}
body {
    display: table;
    margin: 0;
    background-color: purple;
}