<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="../node_modules/bulma/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="resources/bulma-tooltip.css" />
        <link rel="stylesheet" type="text/css" href="resources/bulma-badge.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="resources/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
                window.$ = window.jQuery = require('jquery');
        </script>
        <script src="./reader.js"></script>
        <script src="./window_control.js"></script>
        <script src="./browser.js"></script>
        <script type="text/javascript">
                var Vue;
                if (process.env.NODE_ENV === "dev") {
                        require('devtron').install();
                        Vue = require('vue/dist/vue.js');
                }
                else{
                        Vue = require('vue/dist/vue.min.js');
                }
        </script>
</head>

<body>
        <div id='titlebar'>
                <div class="windowtitle">
                        Mako
                </div>
                <div class="windowbuttons">
                        <button id="min" class="windowbutton" onclick="minimiseWindow()">
                                <i class="fas fa-window-minimize" aria-hidden="true"></i>
                        </button>
                        <button id="max" class="windowbutton" onclick="maximiseWindow()">
                                <i class="fas fa-window-maximize" aria-hidden="true"></i>
                        </button>
                        <button id="close" class="windowbutton close" onclick="closeWindow()">
                                <i class="fas fa-times" aria-hidden="true"></i>
                        </button>
                </div>
        </div>
        <div id='parent' class=''>
                <div id="controls" class="box">
                        <button class="button" onclick="loadDir()">Load Books</button>
                        <button class="button" onclick="reader.showAbout=true">About</button>
                        <div class="field">
                                <div class="control has-icons-left">
                                        <div class="select">
                                                <select id="sort-option" onchange="sortList()">
                                                        <option selected>Sort By..</option>
                                                        <option>Title</option>
                                                        <option>Author</option>
                                                        <option>Series</option>
                                                        <option>File Name</option>
                                                        <option>Number</option>
                                                </select>
                                        </div>
                                        <div class="icon is-left">
                                                <i class="fas fa-sort-amount-down"></i>
                                        </div>
                                </div>
                        </div>
                </div>
                <transition id="modals" name="fade">
                                <div id="about" v-if="showAbout" class="modal" v-bind:class="{'is-active':showAbout}">
                                                <div class="modal-background" onclick="reader.showAbout=false"></div>
                                                <div class="modal-content">
                                                    <div class="box">
                                                        <div class="edit-header">
                                                            <p class="title">About Mako</p>
                                                            <button class="delete" aria-label="close" onclick="reader.showAbout=false"></button>
                                                        </div>
                                                        <p class="about-text">
                                                            Its mostly for learing electron, but maybe will become a viable comic reader for release to the public
                                                        </p>
                                                        <div class="content has-text-centered has-text-grey-light about-foot">
                                                            <div class="links">
                                                                <a onclick="openWebsite('https://github.com/LordDeimos/Mako')" class="weblink link tooltip" data-tooltip="Github Repo">
                                                                    <i class="fab fa-github link" id='gitfore'></i>
                                                                </a>
                                                                <a class="weblink link tooltip" data-tooltip="Website" onclick="openWebsite()">
                                                                    <i class="fas fa-globe" id='web'></i>
                                                                </a>
                                                                <a class="weblink link tooltip" data-tooltip="Icons by FontAwesome" onclick="openWebsite('https://fontawesome.com/')">
                                                                    <i class="fab fa-font-awesome-flag link"></i>
                                                                </a>
                                                                <a onclick="openWebsite('https://bulma.io/')" class="weblink link">
                                                                    <img src="resources/made-with-bulma--semiwhite.png" alt="Made with Bulma" width="128" height="24" class="link">
                                                                </a>
                                                            </div>
                                                            <div>
                                                                <p id="current-version">
                                                                    0.1.1
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                        <div id="close-warning" v-if="showCloseWarning" class="modal" v-bind:class="{'is-active':showCloseWarning}">
                                <div class="modal-background"></div>
                                <div class="modal-content box">
                                        <div class="edit-header">
                                                <p class="title">Are You Sure You Want To Exit?</p>
                                                <button class="delete" aria-label="close" onclick="reader.showCloseWarning=false"></button>
                                        </div>
                                        <p class="about-text">There are queued things still running, I am not responsible for loss of data!</p>
                                        <button class="button is-primary" onclick="reader.showCloseWarning=false">No!, Save My Data!</button>
                                        <button class="button is-danger" onclick="remote.getCurrentWindow().close()">Yes!, I Want to Destroy My Library!</button>
                                </div>
                        </div>
                        <div id="edit" class="modal" v-bind:class="{ 'is-active':editting }" v-if="editting">
                                <div class="modal-background" onclick="reader.editting=false"></div>
                                <div class="modal-content box">
                                        <div class="edit-header">
                                                <p class="title">Edit Book</p>
                                                <button class="delete" aria-label="close" onclick="reader.editting=false"></button>
                                        </div>
                                        <div class="field">
                                                <label class="label">Title</label>
                                                <div class="control">
                                                        <input id="title" class="input" type="text" onkeypress="handleSubmit(event)" v-bind:placeholder="bookEdit.title">
                                                </div>
                                        </div>
                                        <div class="field">
                                                <label class="label">Author</label>
                                                <div class="control">
                                                        <input id="author" class="input" type="text" onkeypress="handleSubmit(event)" v-bind:placeholder="bookEdit.author">
                                                </div>
                                        </div>
                                        <div class="side-by-side">
                                                <div class="field is-horizontal">
                                                        <div class="field-label is-normal">
                                                                <label class="label">Series</label>
                                                        </div>
                                                        <div class="field-body">
                                                                <div class="control">
                                                                        <input id="series" class="input" type="text" onkeypress="handleSubmit(event)" v-bind:placeholder="bookEdit.series">
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="field is-horizontal">
                                                        <div class="field-label is-normal">
                                                                <label class="label">Number</label>
                                                        </div>
                                                        <div class="field-body">
                                                                <div class="control">
                                                                        <input id="number" class="input" type="number" min=0 onkeypress="handleSubmit(event)" v-bind:placeholder="bookEdit.number||0">
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="field">
                                                <label class="checkbox">
                                                        <input id="rtol" type="checkbox" onkeypress="handleSubmit(event)" v-bind:checked="bookEdit.rtol"> Right-To-Left
                                                </label>
                                        </div>
                                        <div class="field">
                                                <label class="checkbox">
                                                        <input id="read" type="checkbox" onkeypress="handleSubmit(event)" v-bind:checked="bookEdit.read"> Read?
                                                </label>
                                        </div>
                                        <div class="control">
                                                <button id="save-book" class="button is-primary" v-on:click="saveEdit()">Save</button>
                                        </div>
                                </div>
                        </div>
                </transition>
                <div id="bookStuff">
                        <div id='explorer' class="box">
                                <div id='books'>
                                        <div class="book box" data-badge="" v-bind:class="{ badge:!comic.read, 'is-badge-warning':!comic.read }" v-for="comic in bookList"
                                                v-bind:id="comic.id" v-on:click="openBook(comic)" @contextmenu.prevent="editBook(comic)">
                                                <figure class='image is-large'>
                                                        <span class="icon" v-if="comic.loading">
                                                                <i class="fas fa-circle-notch fa-spin loading" v-bind:name="comic.id"></i>
                                                        </span>
                                                        <img class="thumb" v-bind:src="comic.thumb">
                                                </figure>
                                                {{ comic.title }}
                                        </div>
                                </div>
                        </div>

                        <transition name="fade">
                                <div id='reader' class="box" v-if="reading">
                                        <header class="closeReader" onclick="closeBook()" onmouseenter="$('#reader').css('top', '10px') " onmouseleave="$('#reader').css('top', '0px') ">
                                        </header>
                                        <div id="readerMain">
                                                <a class="nav prev" onclick="left()">
                                                        <i class="fas fa-caret-left"></i>
                                                </a>
                                                <div id="pages">
                                                        <figure id="current-page" class="image page">
                                                                <img>
                                                        </figure>
                                                </div>
                                                <a class="nav next" onclick="right()">
                                                        <i class="fas fa-caret-right"></i>
                                                </a>
                                        </div>
                                        <footer>
                                                <div id="pageCount" class="content has-text-centered has-text-grey-light">
                                                </div>
                                        </footer>
                                </div>
                        </transition>
                </div>
        </div>
        <script src="./vue-scripts.js"></script>
</body>

</html>