<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="../node_modules/bulma/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="resources/bulma-tooltip.css" />
        <link rel="stylesheet" type="text/css" href="resources/bulma-badge.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="resources/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
                window.$ = window.jQuery = require('jquery');
        </script>
        <script src="./reader.js"></script>
        <script src="./window_control.js"></script>
        <script src="./browser.js"></script>
        <script type="text/javascript">
                var Vue;
                if (process.env.NODE_ENV === "dev") {
                        require('devtron').install();
                        Vue = require('vue/dist/vue.js');
                }
                else{
                        Vue = require('vue/dist/vue.min.js');
                }
                require('./components/about.js');
                require('./components/close_warning.js');
                require('./components/edit.js');
                
        </script>
</head>

<body>
        <div id='titlebar'>
                <div class="windowtitle">
                        Mako
                </div>
                <div class="windowbuttons">
                        <button id="min" class="windowbutton" onclick="minimiseWindow()">
                                <i class="fas fa-window-minimize" aria-hidden="true"></i>
                        </button>
                        <button id="max" class="windowbutton" onclick="maximiseWindow()">
                                <i class="fas fa-window-maximize" aria-hidden="true"></i>
                        </button>
                        <button id="close" class="windowbutton close" onclick="closeWindow()">
                                <i class="fas fa-times" aria-hidden="true"></i>
                        </button>
                </div>
        </div>
        <div id='parent' class=''>
                <div id="modals" >
                        <about-modal :enabled="showAbout"></about-modal>
                        <close-warning-modal :enabled="showCloseWarning"></close-warning-modal>
                        <edit-modal :enabled="editting" :book="bookEdit"></edit-modal>
                </div>
                <div id="controls" class="box">
                        <button class="button" onclick="loadDir()">Load Books</button>
                        <button class="button" onclick="reader.showAbout=true">About</button>
                        <div class="field">
                                <div class="control has-icons-left">
                                        <div class="select">
                                                <select id="sort-option" onchange="sortList()">
                                                        <option selected>Sort By..</option>
                                                        <option>Title</option>
                                                        <option>Author</option>
                                                        <option>Series</option>
                                                        <option>File Name</option>
                                                        <option>Number</option>
                                                </select>
                                        </div>
                                        <div class="icon is-left">
                                                <i class="fas fa-sort-amount-down"></i>
                                        </div>
                                </div>
                        </div>
                </div>
                <div id="bookStuff">
                        <div id='explorer' class="box">
                                <div id='books'>
                                        <div class="book box" data-badge="" v-bind:class="{ badge:!comic.read, 'is-badge-warning':!comic.read }" v-for="comic in bookList"
                                                v-bind:id="comic.id" v-on:click="openBook(comic)" @contextmenu.prevent="editBook(comic)">
                                                <figure class='image is-large'>
                                                        <span class="icon" v-if="comic.loading">
                                                                <i class="fas fa-circle-notch fa-spin loading" v-bind:name="comic.id"></i>
                                                        </span>
                                                        <img class="thumb" v-bind:src="comic.thumb">
                                                </figure>
                                                {{ comic.title }}
                                        </div>
                                </div>
                        </div>

                        <transition name="fade">
                                <div id='reader' class="box" v-if="reading">
                                        <header class="closeReader" onclick="closeBook()" onmouseenter="$('#reader').css('top', '10px') " onmouseleave="$('#reader').css('top', '0px') ">
                                        </header>
                                        <div id="readerMain">
                                                <a class="nav prev" onclick="left()">
                                                        <i class="fas fa-caret-left"></i>
                                                </a>
                                                <div id="pages">
                                                        <figure id="current-page" class="image page">
                                                                <img>
                                                        </figure>
                                                </div>
                                                <a class="nav next" onclick="right()">
                                                        <i class="fas fa-caret-right"></i>
                                                </a>
                                        </div>
                                        <footer>
                                                <div id="pageCount" class="content has-text-centered has-text-grey-light">
                                                </div>
                                        </footer>
                                </div>
                        </transition>
                </div>
        </div>
        <script src="./vue-scripts.js"></script>
</body>

</html>